<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>
  <head>
    <title>Leaflet Map</title>
    <link rel="stylesheet" href="../static/css/main.css" />
	  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
	  <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
  </head>
  <body>
    <div id="mapid">
      <script type="text/javascript">
        var mymap = L.map('mapid').setView([44.051944, -123.086667], 12);
        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
          attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(mymap);
        var popup = L.popup();
        function onMapClick(e) {
          popup
            .setLatLng(e.latlng)
            .setContent(e.latlng.toString())
            .openOn(mymap);
        }
        mymap.on('click', onMapClick);
        {% for entry in session.points %}
          var latitude = {{entry.Latitude}};
          var longitude = {{entry.Longitude}};
          var description = '{{entry.Description}}';
          L.marker([latitude, longitude]).addTo(mymap)
            .bindPopup("One of my (almost) daily stops: " + description);
        {% endfor %}
      </script>
    </div>
  </body>
</html>